
header {
  width: 400px;
  height: 100px;
  background-color: #141f40;
  box-sizing: border-box;
}
header .items {
  background-color: white;
  width: 160px;
  height: 60px;
  margin: 20px;
  float: right;
  display: flex;
  justify-content: space-between;
}
header .items .item {
  background-color: #a9004b;
  width: 40px;
  height: 40px;
  margin: 10px;
}

main {
  width: 400px;
  height: 250px;
  display: flex;
  box-sizing: border-box;
}
main .left {
  width: 150px;
  background-color: #80bfa8;
}
main .right {
  width: 250px;
  background-color: #8c2727;
}
main .right .container {
  margin: 40px 60px 40px 40px;
  width: 140px;
}
main .contents {
  height: 40px;
  margin-bottom: 10px;
  background-color: #ff863f;
  border: solid 5px #fff;

}

footer {
  width: 400px;
  height: 100px;
  background-color: #d98d30;
}

